HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignorar todos los archivos .pem en la carpeta resources
src/main/resources/*.pem

# Ignorar archivos específicos
src/main/resources/device.pem.crt
src/main/resources/private.pem.key
src/main/resources/root-CA.crt

# Ignorar todos los archivos de propiedades, excepto application.properties
src/main/resources/*.properties
!src/main/resources/application.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
